* {
  box-sizing: border-box;
}

.main_wrapper {
  width: calc(100% - 200px);
  flex-direction: column;
  display: flex;
  padding: 70px 110px;
}

.stats_mobile {
  display: none;
}

.user-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
}

.user-name {
  color: #4589ff;
}

#signup_button_activate {
  pointer-events: none;
}

.urgent-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 2px 0px rgba(151, 150, 150, 0.3);
  background-color: #4589ff;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
}

.urgent-tasks-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.urgent-tasks h3 {
  font-size: 48px;
  transition: all 0.3s ease-in-out;
}
.urgent-tasks h4 {
  font-size: 23px;
  transition: all 0.3s ease-in-out;
}

.urgent-tasks-right p {
  margin-top: 15px;
}

.divider {
  height: 145px;
  background-color: white;
  width: 4px;
  border-radius: 8px;
}

.task-overview-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 200px 0px 200px;
}

.KI {
  color: color-mix(in srgb, #4589ff 40%, #774af5 60%);
}

.KI:hover {
  color: white;
}

.task-overview-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 200px 0px 200px;
}

.task-card {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 2px 0px rgba(151, 150, 150, 0.3);
  border-radius: 30px;
  text-align: center;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.task-card h3 {
  font-size: 48px;
}

.task-card p {
  margin: 0;
  color: #4589ff;
  font-size: 23px;
}

.summary_icon {
  height: 76px;
  width: 76px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

.task-card-head {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}

.active_span {
  display: flex;
  align-items: center;
}

.progress {
  position: absolute;
  right: 0;
}

.feedback {
  position: absolute;
}

.done {
  position: absolute;
  right: 0;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: calc(100vh - 96px);
}

.greet_transition {
  height: 0 !important;
  position: relative;
  top: -120px;
}

@media (max-width: 1460px) {
  .task-overview-bottom {
    padding: 50px 100px 0px 100px;
  }

  .task-overview-top {
    padding: 50px 100px 0px 100px;
  }

  .main_wrapper {
    padding: 70px 50px;
  }
}

@media (max-width: 1300px) {
  .task-overview-bottom {
    padding: 50px 70px 0px 70px;
  }

  .task-overview-top {
    padding: 50px 70px 0px 70px;
  }
}

@media (max-width: 1000px) {
  .task-overview-bottom {
    padding: 50px 30px 0px 30px;
  }

  .task-overview-top {
    padding: 50px 30px 0px 30px;
  }
}

@media (max-width: 1200px) {
  .active_span::before {
    background-color: transparent;
    color: #4589ff !important;
    content: url("../assets/icons/summary_icon_blue.svg");
  }

  .active_span {
    gap: 4px;
    flex-direction: column;
  }

  .main_wrapper {
    width: 100%;
  }
}

@media (max-width: 910px) {
  .user-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}

@media (max-width: 1000px) {
  .task-overview-bottom {
    padding: 50px 0px 0px 0px;
  }

  .task-overview-top {
    padding: 50px 0px 0px 0px;
  }
}

@media (min-width: 791px) {
  .urgent-tasks:hover {
    background-color: white;
    color: #4589ff;
    border-radius: 0px 30px 30px 30px;
    cursor: pointer;
  }

  .urgent-tasks:hover h4 {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
  }

  .urgent-tasks:hover .divider {
    background-color: #4589ff;
  }

  .urgent-tasks:hover .summary_icon {
    width: 100px;
  }

  .task-card:hover {
    background-color: white;
    background-color: #4589ff;
    border-radius: 0px 30px 30px 30px;
    cursor: pointer;
    width: 170px;
    height: 180px;
  }

  .task-card:hover p,
  .task-card:hover h3 {
    color: white;
  }

  .icon-wrapper:hover {
    cursor: pointer;
  }

  .active_span:before {
    content: url("../assets/icons/summary_icon_gray.svg");
    background-color: var(--menuHoverColor);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 900px) {
  .main_wrapper {
    padding: 70px 10px;
  }
}

@media (max-width: 790px) {
  .main_wrapper {
    padding: 10px 180px;
  }

  h1 {
    font-size: 25px;
  }

  .task-overview-top,
  .task-overview-bottom {
    display: none;
  }

  .task-overview-top,
  .task-overview-bottom {
    display: none;
  }

  .stats_mobile {
    display: flex;
    flex-direction: column;
  }

  .divider-mobile {
    height: 125px;
    background-color: white;
    width: 4px;
    border-radius: 8px;
  }

  .mobile_first,
  .urgent_task,
  .mobile_second,
  .mobile_third {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile_first,
  .mobile_second,
  .mobile_third {
    padding-top: 20px;
  }

  .urgent-tasks-mobile {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 2px 0px rgba(151, 150, 150, 0.3);
    background-color: #4589ff;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    height: 130px;
  }

  .task-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
  }

  .summary_icon {
    height: 50px;
    width: 50px;
  }

  .task-card h3,
  h3 {
    font-size: 30px;
  }

  .task-card p {
    font-size: 20px;
  }
}

@media (max-width: 690px) {
  .main_wrapper {
    padding: 10px 100px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 545px) {
  .main_wrapper {
    padding: 10px 60px;
  }
  h1 {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .main_wrapper {
    padding: 10px 30px;
  }
}

@media (max-width: 390px) {
  .main_wrapper {
    padding: 10px 10px 100px 10px;
  }
}

@media (max-width: 375px) {
  .urgent-tasks-left p {
    font-size: 14px;
  }

  .urgent-tasks h4 {
    font-size: 16Spx;
  }

  h1 {
    font-size: 20px;
  }
}
