* {
  box-sizing: border-box;
}

.main_wrapper {
  width: calc(100% - 200px);
  overflow: hidden;
  flex-direction: column;
  display: flex;
  padding: 70px 50px;
}

.user-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
}

.user-name {
  color: #4589ff;
}

#signup_button_activate {
  pointer-events: none;
}

.urgent-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 2px 0px rgba(151, 150, 150, 0.3);
  background-color: #4589ff;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
}

.urgent-tasks-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.urgent-tasks:hover {
  background-color: white;
  color: #4589ff;
  border-radius: 0px 30px 30px 30px;
  cursor: pointer;
}

.urgent-tasks:hover h4 {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.urgent-tasks:hover .divider {
  background-color: #4589ff;
}

.urgent-tasks h3 {
  font-size: 48px;
  transition: all 0.3s ease-in-out;
}
.urgent-tasks h4 {
  font-size: 23px;
  transition: all 0.3s ease-in-out;
}
.urgent-tasks:hover .summary_icon {
  width: 100px;
}

.urgent-tasks-right p {
  margin-top: 15px;
}

.divider {
  height: 145px;
  background-color: white;
  width: 4px;
  border-radius: 8px;
}

.task-overview-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.KI {
  color: color-mix(in srgb, #4589ff 40%, #774af5 60%);
}

.KI:hover {
  color: white;
}

.task-overview-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.email_req,
.board_task {
  padding-left: 25px;
}

.padding_right {
  padding-right: 25px;
}

.task-card {
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 2px 0px rgba(151, 150, 150, 0.3);
  border-radius: 30px;
  text-align: center;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.task-card:hover {
  background-color: white;
  background-color: #4589ff;
  border-radius: 0px 30px 30px 30px;
  cursor: pointer;
  width: 170px;
  height: 180px;
}

.task-card:hover p,
.task-card:hover h3 {
  color: white;
}

.task-card h3 {
  font-size: 48px;
}

.task-card p {
  margin: 0;
  color: #4589ff;
  font-size: 23px;
}

.summary_icon {
  height: 76px;
  width: 76px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

.task-card-head {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}

.icon-wrapper:hover {
  cursor: pointer;
}

.task-overview-left {
  display: flex;
  position: relative;
  width: 48.5%;
}

.task-overview-right {
  display: flex;
  position: relative;
  width: 48.5%;
}

.active_span:before {
  content: url("../assets/icons/summary_icon_gray.svg");
  background-color: var(--menuHoverColor);
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  align-items: center;
  gap: 8px;
}

.active_span {
  display: flex;
  align-items: center;
}

.progress {
  position: absolute;
  right: 0;
}

.feedback {
  position: absolute;
}

.done {
  position: absolute;
  right: 0;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: calc(100vh - 96px);
}

.greet_transition {
  height: 0 !important;
  position: relative;
  top: -120px;
}

@media (max-width: 1200px) {
  .active_span::before {
    background-color: transparent;
    color: #4589ff !important;
    content: url("../assets/icons/summary_icon_blue.svg");
  }

  .active_span {
    gap: 4px;
    flex-direction: column;
  }

  .main_wrapper {
    width: 100%;
  }
}

@media (max-width: 910px) {
  body {
    overflow: hidden;
  }
  .user-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}

@media (max-width: 700px) {
  .main_wrapper {
    padding: 10px 50px;
  }
  .task-overview-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0;
  }

  .urgent_task {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .urgent-tasks {
    padding: 0px 10px;
  }

  .task-card {
    width: 128px;
    height: 136px;
    padding: 10px 30px;
  }

  .task-card h3 {
    font-size: 30px;
  }

  .task-card p {
    font-size: 20px;
  }

  .summary_icon {
    width: 50px;
    height: 50px;
  }

  .email_req,
  .board_task {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .task-overview-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
  }

  .padding_right {
    padding-right: 0;
  }

  .task-overview-bottom > div {
    display: flex;
  }

  .task-overview-bottom > div:nth-child(odd) {
    justify-content: flex-end;
  }

  .task-overview-bottom > div:nth-child(even) {
    justify-content: flex-start;
  }

  .task-overview-bottom .task-card {
    width: 128px;
    height: 136px;
  }

  .task-card:hover {
    width: 128px;
    height: 136px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 545px) {
  .main_wrapper {
    padding: 10px;
  }
  h1 {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .urgent-tasks-left p {
    font-size: 14px;
  }

  .urgent-tasks h4 {
    font-size: 16Spx;
  }

  h1 {
    font-size: 20px;
  }
}
